html, body {
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
}

#gameboard, .btn {
	margin:auto;
}

#gameboard:after {
	content: " ";
	clear:both;
	display: block;
}

.instructions {
	font-weight: bold;
	width:500px;
	text-align: center;
	margin:10px auto;
}

.btn {
	width:300px;
	color:#fff;
	margin-top:5px;
	height: 20px;
	text-align: center;
	background-color: #cc0000;
	font-size: 18px;

	&#startBtn{background-color: #00cc00;}
}

.tile {
	width:30px;
	height:30px;
	float:left;
	background-color:#ccc;
	border:1px solid #fff;
	box-sizing:border-box;
	cursor:pointer;
}

.tile.wall{
	background-color:#000;
}

.tile.processed {
	background-color: #cc0000;
}

.tile.start{
	background-color: #00cc00;
}